
@{
    ViewBag.Title = "Index";
}

<div class="bg-success">
    <h1>Peregrine Resource Library</h1>
    <h3>
        “Any fool can know. The point is to understand.”
        ― Albert Einstein
    </h3>
</div>

<div class="row">
    <p>Add articles about technical indicators, investing advise from Benjamin Graham, David Dreman, and Peter Lynch.</p>
</div>

