@model IEnumerable<PeregrineWeb.Models.Peregrine_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Companies To Research</h2>


<table class="table">
    <tr>
        <th><strong>Symbol</strong></th>
        <th><strong>Company Name</strong></th>
        <th><strong>Last Close</strong></th>
        <th><strong>Fifty Day Average</strong></th>
        <th><strong>Industry</strong></th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Last_Close)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.C50_Day_Avg)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Industry)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = item.ID })

            </td>
        </tr>
    }

</table>
