@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Our company is named after one of the most spectacular birds in world: the peregrine falcon which utilizes the ability to dive at almost 200 miles per hour to capture its prey. Proper research can help you to see and capitalize on opportunities that most people miss. Investing is about timing and speed, by the time the general public knows that something is a good investment most of the gains are gone.</p>
<p>Our mission at Peregrine Research is to make your time as profitable as possible. We find the idea of a portfolio under performing the market unacceptable. What the market makes should be the starting place for your investment gains. Especially when you can just buy an Index Fund and make the same rate as the market.</p>
<p>Many people equate investing to gambling or a game of chance. Do Banks and Hedge funds stay in business or grow because they get lucky year after year? Of course, not they stack the deck in their favor and commit their money to areas that have high probability for success. This is done through knowledge and insight. The big secret is that most of the raw information that they use is publicly available. They do of course employ impressive technology and very smart people to help them analyze this information.</p>
<p>What if you knew that the company CEO and several board members had sold large quantities of the company stock over the last few weeks and their quarterly reports showed an increase in company debt? That’s probably not an investment that I would be willing to make. We will put that type of information right at your fingertips.</p>
<p>
    Research is good, but part of the problem is that there are so many companies out there how do you know which ones to research?<br />
    <blockquote>
        1)	Invest in what you know.<br />
        2)	Math is everywhere.
    </blockquote>
</p>
<p>Use your specialized knowledge of the industry that you are in or your life experience to tell if a company is headed in the right direction. If you work in the battery industry and you see that a new electric car battery is being tested that will triple the distance that can be driven, it might be a good idea to buy stock in the company that is making that product.</p>
<p>company’s stock makes. Several of these indicators are so widely followed that they become a self-fulfilling prophesy. When you combine several complementary indicators, they can give you a pretty good idea of what the future holds. For more about the technical indicators we use and how they work see our technical indicator page.</p>
<p>Peregrine Research filters 6,000+ stocks and ETFs through several technical indicators and produces a list of the companies that we believe are statistically likely to be profitable in the future and warrant future investigation.</p>
