@{
    ViewBag.Title = "David Tanderup";
}
<h2>@ViewBag.Title.</h2>


<address>
    <abbr title="Email">E-Mail:<a href="mailto:DavidTanderup@outlook.com"> DavidTanderup@outlook.com</a><br></abbr>
    <abbr title="Phone">P:</abbr> 610.428.2028
</address>
<h3>Social Media Accounts</h3>
<h4><a href="https://github.com/DavidTanderup"> GitHub</a><br /></h4>
<h4><a href="https://www.linkedin.com/in/david-tanderup/">LinkedIn</a></h4>

