@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peregrine Research</h1>
    <h2>When Time and Details Matter.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Company Data and Reports</h2>
        <p>
            Access company filings and other disclosure documents as well as Company data and public filings for equities, mutual funds
            and other publicly traded assets.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Algorithmic Filtering </h2>
        <p>Get research recommendations based on market tested and trusted technical indicators. We use algorithmic filtering to find investment opportunities that are trending towards statistical profitability. </p>

    </div>
    <div class="col-md-4">
        <h2>Resource Library</h2>
        <p>Utilize our resource library to learn how to make sound investments based on strong company fundamentals and solid research practices. When you invest, you spend more than just your money. Make your time pay dividends.</p>

    </div>
</div>